<!-- ///////////////////////////////////
////////// Begin body content //////////
//////////////////////////////////// -->

<div id="body-content">


  <!-- Begin intro section (Parallax) -->
  <section id="section-intro" class="intro-parallax full-height" ng-controller="SectionIntroController">

    <!-- Element background image (parallax) -->
    <div class="full-cover bg-image" ng-parallax pattern="myPattern" speed="5"></div>

    <!-- Element cover -->
    <div class="cover"></div>

    <!-- Intro caption -->
    <div class="intro-caption text-white align-center" stellar="0.6">

      <div class="search">
        <form class="form-inline">
          <input type="text" class="form-control" id="inputSearch" placeholder="I'm looking for...">
          <button type="submit" class="btn btn-danger btn-rounded btn-lg">
                <span>
                    <i class="fa fa-search"></i>
                </span>
            Search
          </button>
        </form>
      </div>

      <h1><span class="bg-main text-white">The Best</span> Tradies<br>
        you find here
      </h1>
      <p>Solve your problems</p>
    </div>

    <!-- Scroll down arrow -->
    <a class="scroll-down-arrow page-scroll text-center" href="#section-1"><span class="text-white"><i class="fa fa-arrow-down"></i></span></a>

  </section>
  <!-- End intro section (Parallax) -->


  <!-- Section 1 -->
  <section id="section-1" class="welcome">
    <div class="container">
      <div class="row">

        <div class="col-left col-md-6">
          <div class="col-inner">

            <!-- Begin Heading -->
            <div class="heading heading-xlg">
              <h1><span class="bg-white text-dark">Wel</span><span class="bg-white text-dark">come</span></h1>
            </div>
            <!-- End Heading -->

            <p class="lead">inspiring / cool / stylish / simple / creative</p>

          </div> <!-- /.col-inner -->
        </div> <!-- /.col -->

        <div class="col-right col-md-6">
          <div class="col-inner">

            <p class="lead">
              In ut mi dapibus, aliquet justo et, lobortis neque. Duis lobortis urna vel velit mattis,
              nec aliquam mauris convallis. Quisque molestie ipsum sit amet mauris bibendum, vel vehicula
              diam vehicula. Fusce dui augue, feugiat ultrices urna vitae, gravida tempor. <a href="https://wrapbootstrap.com/theme/red-one-page-html5-template-WB04265G7" target="_blank">Buy This Template Now!</a>
            </p>

          </div>
        </div> <!-- /.col -->

      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </section>



</div>
