<!-- ///////////////////////////////////
////////// Begin body content //////////
//////////////////////////////////// -->

<div id="body-content">

  <section id="section-account" class="intro-parallax full-height row" ng-controller="AuthenticationController">

    <!-- Element background image (parallax) -->
    <div class="full-cover bg-image" ng-parallax pattern="myPattern" speed="5"></div>

    <!-- Intro caption -->
    <div class="account-caption text-white align-center" stellar="0.6">

      <div ui-view></div>

      <h3 class="col-md-12 text-center form-background">Or login with ...</h3>

      <div class="col-md-12 text-center">
        <img ng-click="callOauthProvider('/api/auth/facebook')" ng-src="/modules/users/client/img/buttons/facebook.png">
        <img ng-click="callOauthProvider('/api/auth/google')" ng-src="/modules/users/client/img/buttons/google.png">
        <!--
        <img ng-click="callOauthProvider('/api/auth/twitter')" ng-src="/modules/users/client/img/buttons/twitter.png">
        <img ng-click="callOauthProvider('/api/auth/linkedin')" ng-src="/modules/users/client/img/buttons/linkedin.png">
        <img ng-click="callOauthProvider('/api/auth/github')" ng-src="/modules/users/client/img/buttons/github.png">
        <img ng-click="callOauthProvider('/api/auth/paypal')"  ng-src="/modules/users/client/img/buttons/paypal.png">
        -->
      </div>

    </div>

  </section>

</div>
