<div ng-controller="AuthenticationController">
  <div class="container">
    <div class="row">
      <div class="col col-md-6 col-md-offset-3 form-top">
        <div class="col-inner">
          <div class="row-same-height">
            <div class="col-left col-md-10 col-md-height col-middle">
              <div class="col-inner">
                <!-- Begin Heading -->
                <div class="heading heading-xsm">
                  <h3>Sign Up</h3>
                  <span>Enter your personal information to sign up:</span>
                </div>
                <!-- End Heading -->
              </div>
            </div>
            <div class="col-right col-md-2 col-md-height col-middle">
              <div class="col-inner">
                <i class="fa fa-user text-center"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-6 col-md-offset-3 form-middle padding-top-40 padding-bottom-20">
        <div class="col-inner">
          <form name="userForm" ng-submit="signup(userForm.$valid)" class="signin" novalidate autocomplete="off">
            <fieldset>
              <div class="form-group col col-md-6 col-xs-12" show-errors>
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" class="form-control" ng-model="credentials.firstName" placeholder="First Name" required>
                <div ng-messages="userForm.firstName.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">First name is required.</p>
                </div>
              </div>
              <div class="form-group col col-md-6 col-xs-12" show-errors>
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName" class="form-control" ng-model="credentials.lastName" placeholder="Last Name" required>
                <div ng-messages="userForm.lastName.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Last name is required.</p>
                </div>
              </div>
              <div class="form-group col col-md-12 col-xs-12" show-errors>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control" ng-model="credentials.email" placeholder="Email" lowercase required>
                <div ng-messages="userForm.email.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Email address is required.</p>
                  <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
                </div>
              </div>
              <div class="form-group col col-md-6 col-xs-12" show-errors>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" lowercase required>
                <div ng-messages="userForm.username.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Username is required.</p>
                </div>
              </div>
              <div class="form-group col col-md-6 col-xs-12" show-errors>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" popover="{{popoverMsg}}" popover-trigger="focus" password-validator required>
                <div ng-messages="userForm.password.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Password is required.</p>
                </div>
              </div>
              <div class="form-group col col-md-12 col-xs-12" ng-repeat="passwordError in passwordErrors">
                <p class="help-block error-text" ng-show="userForm.password.$error.requirements">{{passwordError}}</p>
              </div>
              <div class="form-group col col-md-12 col-xs-12" ng-show="!userForm.password.$error.required">
                <label>Password Requirements</label>
                <progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></progressbar>
              </div>
              <div class="text-center form-group">
                <button type="submit" class="btn btn-danger btn-rounded btn-lg">Sign up</button>
              </div>
              <div ng-show="error" class="text-center text-danger">
                <strong ng-bind="error"></strong>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="col col-md-6 col-md-offset-3 form-bottom padding-top-20 padding-bottom-20">
        <div class="col-inner text-center">
          <a ui-sref="authentication.signin" class="btn btn-inverse btn-rounded btn-sm">Sign in</a>
        </div>
      </div>
    </div>
  </div>
</div>
